{
	"plugins": [
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"proseWrap": "never",
				"parser": "markdown"
			}
		}
	],
	"vueIndentScriptAndStyle": false,
	"printWidth": 120,
	"singleQuote": true,
	"semi": true,
	"tabWidth": 4,
	"htmlWhitespaceSensitivity": "ignore"
}