version: '3.8'

services:
    nuxt-app:
        container_name: nuxt-app
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - '3000:3000'
        env_file:
            - .env
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        volumes:
            - ./data:/app/data
        restart: unless-stopped
