* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Times New Roman', '宋体';

    // 设置滚动条样式
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #575656;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
