@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.light {
		--jojo-admin-sub-menu-active-text: #000000d9;
		--jojo-main-bg: #fff;
		--jojo-admin-menu-bg: #fff;
		--jojo-admin-menu-hover: #f6f6f6;
		--jojo-admin-sub-menu-bg: #fff;
		--jojo-admin-menu-text: #606266;
		--jojo-admin-sidebar-logo: #fff;
		--jojo-admin-menu-title-hover: #000;
		--jojo-admin-menu-active-before: #4091f7;
		--jojo-admin-border-color: rgb(5 5 5 / 6%);
		--jojo-admin-menu-hover: rgb(5 5 5 / 6%);
		--jojo-admin-text-color-disabled: #c0c4cc;
		--jojo-admin-dropdown-menu-bg: #ebf5ff;

		--jojo-blog-base-color: '#fff';

		--jojo-text-primary: #000;
		--jojo-text-body: #555;
		--jojo-text-emphasis: #222;
		--jojo-text-secondary: #6b7280;
		--jojo-text-tertiary: #9ca3af;
		--jojo-text-muted: #d1d5db;
		--jojo-text-accent: #f43f5e;
	}

	.dark {
		--jojo-admin-sub-menu-active-text: #fff;
		--jojo-main-bg: #000;
		--jojo-admin-menu-bg: #141414;
		--jojo-admin-menu-hover: rgb(64 145 247 / 15%);
		--jojo-admin-sub-menu-bg: #0f0303;
		--jojo-admin-menu-text: #CFD3DC;
		--jojo-admin-sidebar-logo: #002140;
		--jojo-admin-menu-title-hover: #fff;
		--jojo-admin-menu-active-before: #4091f7;
		--jojo-admin-border-color: rgb(253 253 253 / 12%);
		--jojo-admin-menu-hover: rgb(253 253 253 / 12%);
		--jojo-admin-text-color-disabled: #6C6E72;
		--jojo-admin-dropdown-menu-bg: #060F19;

		--jojo-blog-base-color: '#000';

		--jojo-text-primary: #fff;
		--jojo-text-body: #bbb;
		--jojo-text-emphasis: #ddd;
		--jojo-text-secondary: #9ca3af;
		--jojo-text-tertiary: #6b7280;
		--jojo-text-muted: #4b5563;
		--jojo-text-accent: #f43f5e;
	}
}
